# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# iOS intermediate files
build
build/*

# android intermediate files
armeabi-v7a
armeabi
obj
bin
gen
.generated-sources
.lastbuildmode

# android local build properties
local.properties

# user-specific Xcode 3 files
*.pbxuser
*.mode1v3
*.mode2v3

# user-specific Xcode 4 files
*.xcworkspace
xcuserdata

# misc pollution
*.swp
.DS_Store
*.tmproj

